@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.eot');
    src: url('Norse-Bold.eot?#iefix') format('embedded-opentype'),
        url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff'),
        url('Norse-Bold.ttf') format('truetype'),
        url('Norse-Bold.svg#Norse-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

